.footer__textBox {
  padding: 21px 25px;
}
.footer__textarea {
  height: 62px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: inset 0 1px 8px rgba(0, 0, 0, 0.2);
}

.footer__plate {
  padding: 18px 24px;
}
.footer__btn {
  width: 100%;
  height: 47px;
  background: #2589cc;
  border: none;
  color: white;
  font-size: 19px;
  font-family: 'Raleway', sans-serif;
  border-radius: 6px;
}
